<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<h1>Sign in to your account</h1>
<p>Or start your 14-day free trial</p>

<%= form_with url: session_path do |form| %>
  <%= form.label "Email address" %>
  <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %><br>
  <%= form.label "Password" %>
  <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %><br>
  <%= form.checkbox "Remember me" %>
  <%= form.label "Remember me", style: "display: inline-block;" %>
  <%= link_to "Forgot password?", new_password_path, style: "display: inline-block;" %>
  <%= form.submit "Sign in", style: "display: block;" %>
<% end %>
<br>

