<%= form_with model: organisation, class: "space-y-6" do |form| %>
    
    <div>
        <%= form.label :name, class: "block text-sm font-medium text-gray-700" %>
        <%= form.text_field :name, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm", placeholder: "Enter organisation name" %>
    </div>
    <div>
        <%= form.label :country, class: "block text-sm font-medium text-gray-700" %>
        <%= form.text_field :country, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm", placeholder: "Enter country" %>
    </div>
    <div>
        <%= form.label :language, class: "block text-sm font-medium text-gray-700" %>
        <%= form.text_field :language, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm", placeholder: "Enter language" %>
    </div>

    <div class="flex items-center justify-end space-x-3">
        <%= link_to "Cancel", organisation_path(organisation.persisted? ? organisation : @organisation), class: "w-full py-2 px-4 bg-gray-200 text-gray-700 font-semibold rounded-lg hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 text-center" %>
        <%= form.submit (organisation.persisted? ? "Update Organisation" : "Create Organisation"), class: "w-full py-2 px-4 bg-indigo-600 text-white font-semibold rounded-lg hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 text-center" %>
    </div>
<% end %>