<h1>Edit Profile</h1>

<%= form_with model: @user do |form| %>
    <div style="display: block">
        <%= form.label "Name" %>
        <%= form.text_field :name, autocomplete: "name", placeholder: "Enter your name"%>
    </div>

    <div style="display: block">
        <%= form.label "Email address" %>
        <%= form.text_field :email_address, required: true, autocomplete: "email", placeholder: "Enter your email"%>
    </div>

    <div style="display: block">
        <%= form.label "Password" %>
        <%= form.text_field :password, autocomplete: "new-password", placeholder: "Enter your name", maxlength: 72%>
    </div>

    <div style="display: block">
        <%= form.label "Confirm new password"%>
        <%= form.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm new password", maxlength: 72%>
    </div>

    <%= form.submit "Update profile", style: "display: block" %>
<% end %>