<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Organisation Hub" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app %>

    <%= vite_stylesheet_tag 'application.css' %>
  </head>

  
  <body>
    
    
    <header>
    <% if authenticated? %>
    <nav class="w-full bg-white px-4 py-3 flex justify-normal items-center shadow-2xl border-b border-gray-300">
      <div class="flex justify-normal items-center w-full">
          <%= link_to "Home", organisations_path, class: "text-gray-700 hover:text-indigo-600" %>
          <%= link_to "Profile", user_path(Current.user), class: "text-gray-700 hover:text-indigo-600 mx-4" %>
          <div class="text-gray-700 hover:text-red-600">
          <%= button_to "Log out", session_path, method: :delete %>
          </div>
      </div>
      
    </nav>
    <% end %> 
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
